/* ---------------Styles for all------------ */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: 0 auto;
} */
/* --------------------------------Header styles---------------------- */
header {
    text-align: center;
}

.logo img {
    width: 200px;
}

nav {
    background-color: green;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

/* --------------------------------MAIN styles---------------------- */
section.grey {
    padding: 20px;
    background-color: #eee;
}

section img {
    width: 100%;
}

h2 {
    background-color: green;
    color: white;
    padding: 10px;
    margin-top: 0;
}

section.green {
    padding: 20px;
    background-color: rgb(121, 170, 121);
}

.green h2 {
    margin-top: 20px;
}

